*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.image{
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(background\ image\ work.jpg);
    background-position: center;
    background-size: cover;
}
.non{
    background-color: rgba(0, 0, 0, 0);
}
.pass{
    text-decoration: none;
}
#b1{
    background-color: blue;
    color: white;
}
#log1{
    color: blue;
}
.lb{
    background-color: rgba(255, 255, 255, 0.342);
}
.sl{
    font-family: Arial, Helvetica, sans-serif;
}
.cont:hover{
    background-color: blue;
    color: white;
}
.li::placeholder{
    color: rgb(255, 255, 255);
    font-weight: 800;
}
.li{
    color: white;
}
